:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  display: grid;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 15vw 85vw;
}

.sideBar {
  background-color: #a78bfa;
  grid-row: 1 / span 2;
  box-shadow: inset -4px -2px 9px rgba(0, 0, 0, 0.3);
}
.sideBarHeader {
  margin-left: 1em;
}
ul {
  list-style: none;
}
.listItem {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  text-decoration: none;
}
a.listItem p {
  margin-left: 0.7rem;
}
.sideBarList {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

svg {
  height: 20px;
}

.topHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1em;
  margin-right: 1em;
}
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#search {
  margin-left: 0.5em;
}
.profile {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.profilePic {
  margin: 1rem;
}

.bottomHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.headBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1em;
}
.headBtn {
  margin: 0.5em;
}
.header {
  grid-column: 2;
  background-color: white;
  padding: 0.4rem;
}

.content {
  background-color: #d1d5db;
  box-shadow: inset 0px 6px 7px rgba(0, 0, 0, 0.3);
}
.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  margin: 1em;
}
.project {
  border: 2px solid black;
  border-radius: 6%;
  padding: 0.3em;
  background-color: white;
  width: 25vw;
}
